.Speech{
        font-size: 40; 
        font-family: Palatino, "Palatino Linotype", serif; 
        color: black;

}

.Directions{
        font-size: 36; 
        font-family: Palatino, "Palatino Linotype", serif; 
        color: black;
        background-color: rgb(212, 228, 60);
        display: inline-block;
}
.Directions:hover {
    background-color: lightblue; 
    color: rgb(255, 8, 8); 
}
.MrsStockmann{
    font-size: 40; 
    color: rgb(237, 146, 26);
    font-style: oblique;
}
.DrStockmann{
    font-size: 40; 
    color: rgb(237, 146, 26);
    font-style: oblique;
}
.Hovstad{
    font-size: 40; 
    color: rgb(237, 146, 26);
    font-style: oblique;
}
.PeterStockmann{
    font-size: 40; 
    color: rgb(237, 146, 26);
    font-style: oblique;
}